/*-----Branches Page Styles-----*/

.branches {
  h4 {
    font-size: $h4 + 2px;
    font-weight: 900;
    text-transform: uppercase;
    color: $darkGrey;
  }
  p {
    font-size: $p;
    color: $lightGrey;
    text-align: justify;
  }
  .branches__container,.map-wrap {
    border: 2px solid #cccccc;
  }
  .map-wrap  {
    position: relative;
    padding-bottom: 65.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

}
