/*-----Brands Page Styles-----*/

.brands__titleRow {
    border-bottom: 1px solid #E9E9E9;
}

.brands__imgRow {
    img {
        max-width: 200px;
    }

    .prm-brands-list__title {
        display: none;
    }
}