/*-----Contact Page Styles-----*/

.contact {
    h4 {
        font-size: $h4 + 2px;
        font-weight: 900;
        text-transform: uppercase;
        color: $darkGrey;
    }
    p {
        font-size: $p;
        color: $lightGrey;
    }
    .contact__container {
        border: 2px solid #CCCCCC;
    }
    .text-code {
        font-size: 40px;
        font-weight: 600;
        color: tomato;
    }
}