
.faq {
    
    h4 {
      font-size: $h4 + 2px;
      font-weight: 900;
      text-transform: uppercase;
      color: $darkGrey;
    }
    a{
      font-size: 20px !important;
      color: #333333;
    }
    p {
      font-size: 14px !important;
      color: #666666 !important;
    }
    .card-header{
      border-bottom: 1px solid rgba(0, 0, 0, 0.1)!important;
    }
    .card-body > p {
        text-align: justify;    
    }

}

