.ns_woocommerce-checkout-steps {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  /*Step horizontal chevron dividers*/
  :nth-child(1n+2):before {
    content: "";
    background-image: url('../images/next-step.svg');
    height: 57px;
    width: 32px;
    position: absolute;
    left: -2px;
    top: -1px;
  }
  :nth-child(3)::after {
    display: none;
  }
}

.ns_woocommerce-checkout-step {
  $triangle: 30px;

  width: calc(100% / 3);
  height: 60px;
  display: flex;
  font-size: 24px;
  font-weight: 100;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  position: relative;
  color: #999999 !important;
  text-decoration: none !important;

  &.active {
    padding-left: 30px;
    background-color: #f4f4f4;
    color: #333333 !important;
    font-weight: 400;
  }

  &.active::after {
    content: "";
    background-image: url('../images/active-step.svg');
    height: 57px;
    width: 32px;
    position: absolute;
    right: -30px;
    top: -1px;
    z-index: 1;
  }
}

.woocommerce-checkout-payment {
  background: none !important;
  border-radius: 0 !important;

  .wc_payment_methods {
    padding: 0 !important;
  }

  .form-row {
    padding: 0 !important;
    margin-top: 1rem !important;
  }
}

@media (max-width: 767px) {
  .ns_woocommerce-checkout-steps {
    display: block;

    :nth-child(1n+2):before {
      display: none;
    }

    .ns_woocommerce-checkout-step {
      width: 100%;
      font-size: 16px;
      height: 45px;

      &.active::after {
        display: none;
      }

    }
  }

}