/*--Woocommerce custom styles---*/
// .woocommerce-products-header__title .page-title {
//   color: $midGrey;
//   line-height: 110px;
//   font-size: 15px;
//   font-weight: 900;
// }


.page-title, .woocommerce-loop-product__title, .price {
  font-family: $roboto;
  color: $midGrey;
  line-height: 16px;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
}

.woocommerce .woocommerce-breadcrumb {
  //display: none;
  font-size: 15px;
  color: #023066;
  margin-top: 20px;
  word-break: break-all;
}

.cart .btn-outline-sobrero {
  padding: 13px 18px;
  height: 49px;
}

.cart .btn-outline-sobrero:hover {
  border: 2px solid $red;
  color: $red;
  background: white;
}

.btn-outline-sobrero {
  width: 100%;
  border-radius: 0px;
  border: 2px solid black;
  background-color: rgba($color: #fff, $alpha: 0.5);
  color: black;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 14px;
  padding: 15px 20px;
}

.btn-outline-sobrero:hover {
  border-radius: 0px;
  border: 2px solid black;
  background-color: black;
  color: rgba($color: #fff, $alpha: 0.8);
  font-weight: 900;
  text-transform: uppercase;
}

.btn-outline-sobrero-red {
  border-radius: 0px;
  border: 2px solid black;
  background-color:rgba($color: #fff, $alpha: 0.8);
  color: black;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 14px;
  padding: 25px 20px;
}

.cart .btn-outline-sobrero-red {
  padding: 25px 20px 20px;
  margin-top: 0px !important;
}

.btn-outline-sobrero-red:hover {
  border-radius: 0px;
  border: 2px solid $red;
  background-color: rgba($color: #fff, $alpha: 0.8);
  color: $red;
  font-weight: 900;
  text-transform: uppercase;
}

#slider-latest-products, #slider-best-products {

  .btn-outline-sobrero-red {
    border-radius: 0px;
    border: 2px solid black;
    background-color:rgba($color: #fff, $alpha: 0.8);
    color: black;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 14px;
    padding: 7.5px 7.5px;

    &:hover {
      border-radius: 0px;
      border: 2px solid $red;
      background-color: rgba($color: #fff, $alpha: 0.8);
      color: $red;
      font-weight: 900;
      text-transform: uppercase;
    }
  }


  .btn-outline-sobrero {
    width: 100%;
    border-radius: 0px;
    border: 2px solid black;
    background-color: rgba($color: #fff, $alpha: 0.5);
    color: black;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 14px;
    padding: 7.5px 7.5px;

    &:hover {
      border-radius: 0px;
      border: 2px solid black;
      background-color: black;
      color: rgba($color: #fff, $alpha: 0.8);
      font-weight: 900;
      text-transform: uppercase;
    }
  }
}

.display-buttons {
   display: none;
   position: absolute;
   bottom: 0;
   @media (max-width: 575px) {
    display: none !important;
   }
}

.hover-image > .display-buttons {
  display: flex;
  // top: 200px;
  position: relative;
  transition: 0.5s;
  opacity: 0;
  // left: 25px;
}


.hover-image:hover > .display-buttons {
  display: flex;
  // top: 180px;
  position: relative;
  transition: 0.5s;
  opacity: 1;
  // left: 25px;
}

.hover-image .attachment-woocommerce_thumbnail:hover {
  opacity: 0.5;
}

.woocommerce_show_page_title .page-title {
  font-size: 15px;
}

.separator {
  content: "";
  width: 1px;
  height: 15px;
  margin: 0px 5px 10px 0px;
  border-right: 1px dotted #999
}

.form-group {
  margin: 0px !important;
}

select.custom-select {
  outline : none;
  overflow : hidden;
  text-indent : 0.01px;
  text-overflow : '';

  background : url("https://img.icons8.com/material/24/000000/sort-down.png") no-repeat right #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

select.custom-select::-ms-expand {
  display: none;
}

.custom-select {
  border-radius:0px;
  border: 0;
  padding: 0;
  height: 40px;
  text-transform: none;
  font-weight: 300 !important;
  font-size: 14px;
  color: #666;
  margin: 0px 10px;
  min-width: 150px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

// .form-group select:hover{
//   background:black;
//   color: white;
// }

 .woocommerce-Price-amount {
  color: $lightGrey;
  font-size: 22px;
  font-weight: 600;
  padding: 8px 0px;
 }

 .items {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #666;
  padding-bottom: 8px;
 }


 .tabs {
  font-family: $roboto;
  font-weight: 900 !important;
  font-size: $h4 !important;
  text-transform: uppercase;
  border-top: 3px solid transparent !important;
  border: 1px solid transparent;
 }

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    display: inline-block;
    padding: 14px 35px;
    font-weight: 900;
    font-size: 14px;
    color:$lightGrey;
    text-decoration: none;
    border-radius: 0px;
}


.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
  border-radius: 0px;
  border-top: 3px solid $darkGrey !important;
  border: 1px solid #E9E9E9;
  background: linear-gradient(178.96deg, rgba(204, 204, 204, 0.65) 0.89%, rgba(255, 255, 255, 0.51) 70.11%);
 }

h1 {
  font-weight: 300;
  line-height: 41px;
  color: #333;
}

#price-detail {
  // margin-top: -5px;
  font-weight: 900;
  line-height: 24px;
  font-size: 22px;

  .woocommerce-Price-currencySymbol, .woocommerce-Price-amount {
  font-size: 22px;
  color: $midGrey;
  }

}

.product_meta, .woocommerce-product-details__short-description {
  display: none !important;
}

.reviews_tab, .description_tab, .additional_information_tab {
  background-color: white !important;
  border-radius: 0px !important;
}

.woocommerce-Tabs-panel--description p {
  line-height: 18px;
  font-size: 12px;
  color: #666;
}

.woocommerce-Tabs-panel h2 {
  display: none !important;
}

.woocommerce-Tabs-panel--description h2 {
  display: none !important;
}

.woocommerce div.product form.cart {
    margin-bottom: 0px !important;
}

.woocommerce div.product form.cart div.quantity {
  width: 100%;
}

.woocommerce .quantity .qty {
    width: 100%;
    text-align: center;
    min-height: 49px;
}

.woocommerce-Reviews p, span, label {
  line-height: 18px;
  font-size: 12px;
  color: $lightGrey;
}

.woocommerce-product-attributes-item__label {
  font-size: 12px;
  font-weight: 800;
  color: $darkGrey;
}

.woocommerce-product-attributes-item__value {
  line-height: 18px;
  font-size: 12px;
  color: $lightGrey;
}


.share {
  p {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    color: $midGrey;
    margin-bottom: 0px;
  }

  a {
    text-align: center;
    font-size: 20px;
    color: $lightenGrey;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  a:hover {
    color: $midGrey;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
}

.search-header-wrapper{
  position: relative;
  // top:0;
  // left:0;
}

#search-header {
  position: absolute;
  top: 36px;
  // left: -207px;
  min-width: 200px;
  z-index: 1;

  &:focus {
    border-color: transparent !important;
    box-shadow: 0px 2px 2px rgba(103, 103, 103, 0.25);
    border: 2px solid #e9e9e9;
  }
}

.flex-control-nav li {
  margin: 5px 10px !important;
}
.flex-control-nav img {
  border: 1px solid #e9e9e9;
  margin: 5px 10px;
}

.pre-header {

  a {
    text-decoration: none;
    color: $darkGrey;
  }
}

.sobrero-checkout {
  margin-bottom: 32px;
  padding: 22px 28px 31px 28px;
  border: 2px solid $lightenGrey;


  label {
    font-weight: 700;
    margin-bottom: 4px;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 11px;
    color: $lightGrey;
  }

  .required {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: $lightGrey;
  }

  .required span {
    color: $red;
  }

  label span {
    color: $red;
  }

  .checkout-title {
    margin: 0 0 22px;
    text-transform: uppercase;
    font-size: 11px;
    color: $lightGrey;
  }

  .pay-method {

    margin-left: 10px;
    p {
      text-transform: uppercase;
      font-weight: 400;
      line-height: 20px;
      font-size: 14px;
      color: $midGrey;
    }

    span {
      font-weight: 800;
    }

    input {
      cursor: pointer;
      height: 20px;
      margin-right: 10px;
    }
  }

  .product-resume {
     p {
       font-size: 14px;
       font-weight: 800;
       color: $midGrey;
       text-transform: uppercase;
       margin-bottom: 0px;
     }

     span {
       text-transform: uppercase;
      font-size: 14px;
      font-weight: 800;
      color: $lightGrey;
     }
  }

  #order-title {
    margin: 0 0 21px;
    line-height: 20px;
    font-size: 15px;
    text-transform: uppercase;
    color: $midGrey;
  }

  .sobrero-order {
    span {
      font-size: 14px;
      color: $red;
    }
  }

  .order-info {
    text-transform: uppercase;
    line-height: 20px;
    font-size: 11px;
    color: $lightGrey;
    font-weight: 800;
    padding: 10px 3px;
  }

  ul {
    padding-left: 0px;
    list-style: none;
    font-size: 13px;
    color: $midGrey;
  }
}

 li.product {
  list-style-type: none;
 }

 .product-container {
    visibility:hidden;
    padding: 1em 5em;
 }
 .product-container h2{
  padding: 25px 0px;
  line-height: 24px;
  font-size: 20px;
  text-transform: uppercase;
 }
 img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
   width: 100%;
   height: 200px !important;
   object-fit: contain;
 }

 /*-----Product list styles-----*/
 /*Title*/
 h2.woocommerce-loop-product__title {
    font-size: 14px;
    padding: 0px;
    text-transform: unset;
 }

 /*-----Product page styles-----*/
 .product_title {
   font-size: 34px;
   font-weight: 300;
 }
 .woocommerce-Price-amount {
   color: #333;
 }
 button.btn.btn-sobrero-lg {
   width: 100%;
 }

/*-----Cart page-----*/
.cart_row {
  margin-bottom: 60px;
}
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  width: 100%;
  border: 2px solid #ccc;
  padding: 14px 18px 7px;
  h2 {
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0px 15px;
  }
  th {
    text-transform: uppercase;
    line-height: 20px;
    font-size: 11px;
    color: #666;
  }
}
.woocommerce-Price-amount {
  font-weight: 900;
  font-size: 14px;
  color: #666;
}
.woocommerce table.shop_table {
  border: none;
  th {
    padding: 14px 12px;
  }
}
.cart-subtotal > td,
.order-total > td {
    text-align: right;
}
.order-total > td {
  .woocommerce-Price-amount, span {
    font-size: 22px;
    color:$midGrey;
  }
}
.wc-proceed-to-checkout a {
    color: #fff;
    background: #333;
    border-color: #333;
    border-radius: 0px;
    text-transform: uppercase;
    padding: 13px 30px;
    font-size: 14px;
    font-weight: bold;
}
.wc-proceed-to-checkout a:hover {
    background: #242424;
    border-color: #242424;
}
.shop_table thead {
  background-color: #f5f5f5;
  th {
    text-transform: uppercase;
    line-height: 20px;
    font-size: 11px;
    color: #666;
  }
}
#add_payment_method table.cart img,
.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img {
    width: 100px;
}
.product-name a {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;
    color: #333;
}
.product-name a:hover {
  text-decoration: none;
}
 /*--height of content--*/
 #content {
   min-height: calc(100vh - 364px);
 }

 .text-red {
   color: $red !important;
 }

 .line-top {
  border-top: 1px solid #e9e9e9;
 }

 .line-left {
  border-left: 1px solid #e9e9e9;
 }

 .comments {
   h3 {
    text-transform: uppercase;
    font-weight: 400;
    color: $midGrey;
    font-size: $h3;
   }
 }

 .code {
   font-size: 30px;
   font-weight: 600;
   color: $red;
 }

 .ranking {
   font-weight: 600;
   font-size: 12px;
 }

.woocommerce .woocommerce-ordering {
    margin: 0 0 0.5em;
}

/*---Woocommerce messages---*/
.woocommerce-message, .woocommerce-info {
    border-top-color: $darkGrey;
    background-color: white !important;
    // background: linear-gradient(178.96deg, rgba(204, 204, 204, 0.65) 0.89%, rgba(255, 255, 255, 0.51) 70.11%);

    &::before {
      content: "\e015";
      color: $darkGrey;
    }
}

.woocommerce-error {
  border-top-color: $red;
  background-color: white !important;
  // background: linear-gradient(178.96deg, rgba(204, 204, 204, 0.65) 0.89%, rgba(255, 255, 255, 0.51) 70.11%);

  &::before {
      content: "\e016";
      color: $red;
  }
}

/*---Woocommerce button class, adding sobrero style---*/
.button {
      padding: 11px 10px;
      color: white !important;
      font-size: 14px !important;
      font-weight: 900;
      background-color: $footerSocial !important;
      border-radius: 0px !important;
      text-transform: uppercase;


  &:hover {
      background-color: #242424 !important;
      color: white;
  }
}

#page {
    position: absolute;
    width: 100%;
}

.scotia-price {
  color: $red;
  font-size: $h3;
  font-weight: 800;

  span {
    color: $red;
    font-weight: 600;
    font-size: 12px;
  }
}

.widget-area {
  h3{
    font-size: 10px;
  }
  .cat-item{
    font-size: 9px
  }
  .count{
    font-size:8px
  }
}
/*--input coupon code --*/
.woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    width: 120px;
}

.form-control {
    height: 45px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #d4d9de;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(202 202 202 / 25%);
}

.bg-red {
  background-color: $red !important;
}

.description-product-in-price {
  h2 {
    font-weight: normal;
    font-size: 18px;
    color: $midGrey;
  }

  p {
    line-height: 18px;
  }
}

.description-product-in-price p,
.description-product-in-price div,
.description-product-in-price ul li {
  font-size: 14px;
  color: #484848;
  word-break: break-word;
}
.description-product-in-price ul {
  padding-left: 15px;
}

/*---WooCommerce thumbnails size---*/
.woocommerce div.product div.images .flex-control-thumbs li {
    width: 15%;
    float: left;
    margin: 0;
    list-style: none;
}

/*--registrer error messages --*/
.custom-message {
  background-color: rgba($red, $alpha: 0.1);
  border: 2px solid $red;
  padding: 15px;
  margin: 10px;

  strong {
    color: $red;
    text-transform: uppercase;
  }

  p {
    color:$midGrey;
    font-size: 12px;
    margin-bottom: 0px;
  }
}

.required-message {
  font-size: 12px;
  color: $lightGrey;
}

.sobrero-registrer {
  label {
    font-weight: 700;
    color: $lightGrey;
  }
  h2 {
    font-size: 15px;
    font-weight: 900;
  }

  h6 {
    font-weight: 900;
  }

  .contain {
    border: 2px solid $lightenGrey;
    padding: 15px;
  }
}

.woocommerce-MyAccount-navigation {
  width: 100% !important;
}

.woocommerce-MyAccount-content {
  width: 100% !important;
}

.entry-content {
  font-size: 14px;
  color: $midGrey;

  h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
  }
}

.list-group-item-action:active {
  color: #212529;
  background-color: #e9ecef;
  font-weight: 600;
  // border-top: 3px solid;
}

/* -- Payments images */

.woocommerce .cards {
  margin-bottom: 15px;
  span {
    font-size: 15px;
  }

}

.woocommerce .cards img,
.footer__payments .cards img {
    width: 48px;
    height: 36px;
    object-fit: contain;
}

@media (min-width: 768px){
  .navbar-expand-md .navbar-toggler {
      display: block;
  }
}

@media (max-width: 768px) {
  .nav-user-options {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
  }
}

@media (max-width: 767px) {
  .nav__container {
    top: 58px;
  }

  .sticky {
    top: 0px;
  }
}

@media (min-width:769px) {
  .navbar-expand-md .navbar-toggler {
      display: none;
  }

  .nav-user-options {
      display: flex;
      align-items: center;
      justify-content: start;
  }
}

@media (max-width: 425px) {
  .woocommerce div.product .woocommerce-tabs ul.tabs li a {
    padding: 14px 25px;
  }

  .products h2 {
    font-size: 1.3rem;
    padding: 1rem 0.5rem;
  }

  .product_title {
      font-size: 26px;
      font-weight: 400;
  }

  .nav__topInfo__contact strong {
      font-size: 12px;
  }

  .woocommerce-Reviews p, span, label {
      font-size: 10px;
  }
}

@media (max-width: 992px) {
  #search-header {
    left: -207px;
  }
}

@media (min-width: 992px) and (max-width: 1170px){
  #search-header {
    left: 670px;
  }
}

@media (min-width: 1171px) and (max-width: 1299px) {
  #search-header {
    left: 760px;
  }
}

@media (min-width: 1300px) and (max-width: 1399px) {
  #search-header {
    left: 870px;
  }
}

@media (min-width: 1400px) and (max-width: 1554px){
  #search-header {
    left: 950px;
  }
}

@media (min-width: 1555px) and (max-width: 1664px){
  #search-header {
    left: 1080px;
  }
}

@media (min-width: 1665px) and (max-width: 1963px){
  #search-header {
    left: 1240px;
  }
}

@media (min-width: 1964px) and (max-width: 2091px){
  #search-header {
    left: 1540px;
  }
}

@media (min-width: 2092px) and (max-width: 2375px){
  #search-header {
    left: 1645px;
  }
}

@media (min-width: 2376px) {
  #search-header {
    left: 1940px;
  }
}

@media(max-width:320px) {
  #front-page-tabs .btn {
    padding: 0.375rem 0.2rem;
  }

  .btn-categories {
    font-size: 13px;
  }

  .products h2 {
    padding: 1rem 0.2rem;
  }
}

@media(min-width:321px) and (max-width: 375px) {
  #front-page-tabs .btn {
    padding: 0.375rem 0.5rem;
  }

  .btn-categories {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .nav__container {
      top: 62px;
  }

  .sticky {
    top: 0px;
  }

  .woocommerce div.product .woocommerce-tabs ul.tabs li a {
    padding: 14px 20px;
  }

  .woocommerce div.product .woocommerce-tabs ul.tabs li {
    padding: 0;
  }

  .container-nelson-sobrero {
      margin-top: 8.5em !important;
  }
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #0000000a;
    border: 1px solid #020202;
    border-radius: 0.25rem;
}

.navbar-dark .navbar-toggler {
    color: rgb(0 0 0 / 72%);
    border-color: rgb(0 0 0 / 0%);
}

.navbar-toggler {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #ffffff0a;
    border: 1px solid #020202;
    border-radius: 0.25rem;
}

#main-menu .nav-link {
    background-color: white !important;
}

.navbar {
  padding: 0px !important;
}

/*Woocommerce product archive*/
.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
  @media (max-width: 575px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 2.992em;
  }
}

.woocommerce-loop-product__title {
  @media (max-width: 575px) {
    text-align: center;
  }
}

.woocommerce ul.products li.product .price {
  @media (max-width: 575px) {
    text-align: center;
  }
}

/*Woocomerce Product Single Styles*/
.description-product-in-price p,
.description-product-in-price div,
.description-product-in-price div span,
.description-product-in-price li {
  font-size: 15px;
  color: #676767;
  line-height: 21px;
}

.description-product-in-price a {
    color: #4BB4E5;
}

.addtoany_share_save g {
  fill: #ccc;
}

.woocommerce div.product div.images img {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: contain;
  box-shadow: none;
}

.woocommerce div.product div.images .flex-control-thumbs li img {
  height: auto;
}

/*Woocommerce product list*/
span.woocommerce-Price-currencySymbol {
  font-size: 14px;
}

/*Woocommerce wishlist*/
.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart-plus.no-txt, .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt {
  position: relative;
    width: 36px;
    height: auto;
    vertical-align: sub;
    margin-top: 2px;
}

/*--styles for order pay final step--*/
.woocommerce ul.order_details {
    margin-bottom: 3rem;
    list-style: none;
    padding-left: 0px;
}

#wc_payment_form {
    margin-top: 40px;
}

#wc_payment_form .payment_form_footer_button {
    margin-top: -1rem;
    margin-bottom: 2rem;
    margin-left: 1.2rem;
}

button#btnAssociate {
    background-color: #68CD73;
    color: white;
    padding: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
}

/*-- END styles for order pay final step--*/

/*WC magnify glass styles*/
.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
  z-index: 8 !important;
}

/*--category sidemenu  --*/
#right-sidebar {
  margin: 0 0 10px;
  padding: 20px !important;
  border: 2px solid #ccc;
}

// .widget-title {
// }

.widget-area  {
  h3 {
  color: #333333;
  line-height: 16px;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
  }

  .widget_product_categories{
    display: none;
  }
  .product-categories {
    padding-left: 0px;
  }

  li {
    padding: 5px 0px;
    border-bottom: 1px solid $lightenGrey;
    border-top: 1px solid $lightenGrey;
    list-style: none;
    font-weight: 700;
  }

  li a {
    text-decoration: none;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 11px;
    color: $lightGrey;
  }

  li a:hover {
    color: $midGrey;
    font-weight: 600;
  }

  li::before {
    content: '°';
    content: '\00B0';
    position: relative;
    left: -3px;
    top: 6px;
    font-size: 16px;
    color: #ccc;
  }

  .children {
    padding-left: 10px;

    li {
      border: 0px;
      font-weight: 500;
    }
  }
}


@media (max-width: 575px) {
  .latest-products-container {
    margin: 0px;
  }
  .infinite-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .price {
    display: flex;
    justify-content: center;
  }
  .scotia-price {
    text-align: center;
  }
  .infinite-col {
    margin-top: 3rem;
  }
  .product-top {
    margin-bottom: 1.5rem;
  }

  .woocommerce div.product div.images img {
    height: 240px;
  }

}

@media (max-width: 768px) {
    // Wishlist

    .tinv-wishlist thead {
      display: none;
  }

  .wishlist_item {
    border-top: 2px solid #80808042;
  }

  .tinv-wishlist table td, .tinv-wishlist table th {
    padding: 0px;
  }

  .tinv-wishlist .tinvwl-table-manage-list .product-remove {
    padding: 0px;
  }

  .tinv-wishlist .tinvwl-table-manage-list .product-remove button {
    font-size: 30px;
    float: right;
  }

  .tinv-wishlist .tinvwl-table-manage-list .product-thumbnail img {
    height: auto !important;
  }

  .tinvwl-to-left  {
    padding: 15px;
  }

  .product-action{
    margin-bottom: 30px;
    margin-top: 5px;
  }

  .product-cb {
    margin-top: 20px;
    text-align: right !important;
  }

  .tinv-wishlist table input[type=checkbox] {
    margin-right: 6px;
  }

  .tinv-wishlist table .product-date {
    position: absolute;
    text-align: left !important;
  }

  .tinv-wishlist .product-stock p {
    margin-right: 0px;
  }

}

.p-card {
  padding: 0.5rem 2rem 3rem;
}

/*Customer data*/
.woocommerce-column.woocommerce-column--1.woocommerce-column--billing-address.col-1,
.woocommerce-column.woocommerce-column--2.woocommerce-column--shipping-address.col-2 {
  max-width: 48%;
  @media (max-width: 575px) {
    max-width: 100%;
  }
}
.woocommerce-column.woocommerce-column--1.woocommerce-column--billing-address.col-1 {
  @media (max-width: 575px) {
    margin-bottom: 2rem;
  }
}