/*---Login---*/

.custom-card {
  background-color: white;
  border-radius: 0px;
  box-shadow: 0px 0px 10px rgba(103, 103, 103, 0.5);
  margin-bottom: 60px;

  .line {
    border-right: 1px solid #ccc;
  }
}

.my-account {
  p, li, .btn-modal {
    font-family: $roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }

  h2 {
    line-height: 24px;
    margin: 0 0 39px;
    font-weight: 900;
    font-size: 24px;
    color: $midGrey;
    font-family: $roboto;
    text-transform: uppercase;
  }

  ul,ol {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    font-family: $roboto;
    font-weight: 400;
    font-size: 12px;
    color: $lightGrey;
  }

  .btn-modal {
    color: $lightGrey;

    &:hover {
      color: $midGrey;
    }
  }

  .inner-container {
    margin-bottom: 2rem;
  }

  .btn-lg {
    width: 230px;
    margin: 40px auto 0;
  }

  .modal-title {
    text-transform: uppercase;
    color: $midGrey;
  }

  .col-md-6 {
    padding: 30px 28px;
  }

  .form-control {
    background-color: white !important;
      &:focus {
        background-color: white !important;
        border-color: $lightenGrey;
        box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 25%);
      }
   }
}

.entry-header {
  display: none;
}

/*--Page.php adjustments--*/
.my-account-background {
  background-image: url('../images/fondo_categorias.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 140px 0px 0px;
}