#wc_payment_form {
  margin-top: 80px;

  .col2-set {
    display: none;

    & > hr {
      width: 100%;
    }

    .woocommerce-button,
    #btnAddCard {
      float: none !important;
    }
  }

  .payment_form_row {
    .payment_form_col {
      select,
      input,
      span {
        width: 100% !important;
      }
    }

    .payment_form_label {
      display: block;
      width: 100%;
      font-size: .8rem;
      color: #333;
      line-height: 2rem !important;
      margin-bottom: 0;
    }

  }

  .payment_form_footer_button {
    margin-top: -1rem;
    margin-bottom: 2rem;
  }
}

