/*------VARIABLES-------*/

/*------Colors------*/
$darkBlue: #012E65;
$skyBlue: #4AB2E4;
$red: #CC3633;
$green: #339933;
$darkGrey: #2C2C2C;
$midGrey: #333333;
$lightGrey: #676767;
$lightenGrey: #ccc;
$footerGrey: #999;
$footerSocial:#434343;
$white:#fff;


/*------Fonts------*/
$roboto: 'Roboto', sans-serif;

/*Font sizes*/
$h1: 34px;
$h3: 16px;
$h4: 13px;
$p: 12px;
