/*---Stylesheet for global styles and configurations purpose only---*/

/*All the fonts in the site are Roboto*/
* {
    font-family: $roboto;
}

/*All the outlines hided*/
*:focus {
    outline: none;
}

/*Content hidden*/
#content {
    overflow: hidden;
}

/*---button--*/

button {
    background-color: white;
    border: 0px;
}

.btn-sobrero {
    padding: 11px 10px;
    color: white;
    font-size: 14px;
    font-weight: 900;
    background-color: $footerSocial;
    border-radius: 0px;
    text-transform: uppercase;
}

.btn-categories {
    background-color: $white;
    border-color: $white;
}

.btn-categories:focus {
    background-color: $white;
    border-color: $white;
    box-shadow: 0 0 0 0.2rem rgb(22 49 107 / 25%);
}

.btn-categories.active {
    background-color: $white;
    border-color: $white;
    font-weight: 800;
    color: $black;
}

.btn-sobrero:hover {
    background-color: #242424;
    color: white;
}

.btn-sobrero-lg {
    padding: 13px;
    color: white;
    font-size: 14px;
    font-weight: 900;
    background-color: $footerSocial;
    border-radius: 0px;
    text-transform: uppercase;
}

.btn-sobrero-lg:hover {
    background-color: #242424;
    color: white;
}

.form-control {
    font-size: 12px;
    color: #666;
    border-radius: 0px;
    border: 2px solid #e9e9e9;
    padding: 10px;
    height: 40px;
}

form.woocommerce-ResetPassword.lost_reset_password {
    background-color: #fff;
    padding: 30px;
}

.woocommerce-ResetPassword {
    .form-row {
        display: block;
    }
}

.brands__titleRow__link {
    font-weight: 300;
    font-size: 13px;
    color: #666;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -o-transition:  all 0.3s ease-in-out;
}

.brands__titleRow__link:hover {
    font-weight: 300;
    font-size: 13px;
    color: #666;
    text-decoration: none;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -o-transition:  all 0.3s ease-in-out;
}

.brands__squareIcon {
    width: 24px;
    height: 24px;
    margin: -2px 0 0 10px;
    text-align: center;
    border: 2px solid #ccc;
    display: inline-block;
    color: #ccc;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -o-transition:  all 0.3s ease-in-out;
}

.brands__squareIcon:hover {
    border: 2px solid #242424;
    color: #242424;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -o-transition:  all 0.3s ease-in-out;
}

.dropdown-menu {
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    line-height: 20px;
    font-size: 11px;
    color: #666;
    border-radius: 0px;
}

.dropdown-item {
    font-weight: 600;
}

/*--Navbar--*/
.navbar {
    padding: 0rem 1rem !important;
    // height: 60px !important;
}

#main-menu {
    height: 60px !important;

    li a {
        height: 60px;
        display: flex;
        align-items: center;
        padding: 8px 16px;
        border: 0;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
    }

    li a:hover {
        // color: #333;
        color: #999;

    }

    .dropdown-menu li a {
        height: 40px;
    }
 }

 /**Overriding Add2Share Buttons Styles**/
 .a2a_svg.a2a_s__default{
    background-color: transparent  !important;
 }
 .a2a_svg.a2a_s__default > svg > path{
    fill: #ccc  !important;
 }
 .a2a_svg.a2a_s__default > svg > path:hover{
    fill: #000  !important;
 }
  /**End overriding Add2Share Buttons **/

 .transition {
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
 }

/*Wrappers*/
.wrapper-pages {
    padding: 140px 0px 0px;
}

.container-nelson-sobrero {
    margin-top: 6.5em !important;
}

/*Whatsapp btn*/
.whatsapp-btn {
    position: fixed;
    bottom: 15px;
    left: 15px;
    z-index: 9;
}

@media screen and (max-width:570px) {
    .whatsapp-btn img {
        width: 48px;
    }
}


.woocommerce .cards img,
.footer__payments .cards img {
    width: 48px;
    height: 36px;
    object-fit: contain;
}