.slider-front, .slider-blog {
  .carousel-item {
    a {
      width: 100%;
      height: 480px;

      img {
        object-fit: cover;
        width: 100%;
        height: 480px;
        position: absolute;
        top: 0;
        left: 0;
        @media (max-width: 767px) {
          object-fit: contain;
          height: auto;
          top: 100px;
        }
        @media (max-width: 575px) {
          top: 120px;
        }
      }
    }
  }
  .carousel-indicators {
    z-index: 8;
    margin: 0px !important;
    padding: 5px 0px !important;
    background-image: url('../images/indicators-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    li {
      background-color: #CCCCCC;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 2px solid #fff;
    }
    .active {
      border-color: #333;
    }
  }
  .carousel-control-prev, 
  .carousel-control-next {
    @media (max-width: 767px) {
      top: 15%;
    }
    @media (max-width: 575px) {
      display: none;
    }
  }

  .carousel-inner {
    height: 480px;
    @media (max-width: 767px) {
      height: 380px;
    }
    @media (max-width: 575px) {
      height: 270px;
    }
  }
}

.slider-blog {
  .carousel-caption {
    position: absolute;
    top: 600px;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 50%;
    height: 0%;
    margin: auto;
    z-index: 8;
  }
}


