/*-------Footer Styles-------*/

#wrapper-footer {
    line-height: 20px;

    background-color: #333;
    padding-top: 35px;
    h4 {
        font-size: $h4;
        font-weight: 900;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 18px;
    }
    p,
    li,
    span {
        font-size: 11px;
        color: $footerGrey;
    }
    li {
        list-style: none;
    }
    ul {
        padding: 0px;
        margin: 0px;
    }
    .phoneMail--phone {
        font-size: $h3;
        font-weight: 900;
        color: $lightenGrey;
    }

    a {
        color: $footerGrey;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition:  all 0.3s ease-in-out;
        -o-transition:  all 0.3s ease-in-out;
    }

    a:hover {
        color: white;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition:  all 0.3s ease-in-out;
        -o-transition:  all 0.3s ease-in-out;
    }

    a span {
        color: $footerGrey;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition:  all 0.3s ease-in-out;
        -o-transition:  all 0.3s ease-in-out;
    }

    a span:hover {
        color: white;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition:  all 0.3s ease-in-out;
        -o-transition:  all 0.3s ease-in-out;
    }
}

.footer__phoneMail a {
    // font-size: 16px;
    color: #ccc !important;
}
.footer__social ul li {
    display: inline-block;
    border: 2px solid $footerSocial;
}
.social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 7px 10px 0;
    text-align: center;
    border: 2px solid #434343;
}

.social a:hover {
    color: white;
    border: 2px solid white;

}

/*--Align icons verticaly to the square--*/
.social a .svg-inline--fa {
    vertical-align: -webkit-baseline-middle;
}

.footer__social a {
    color: $footerSocial;
    font-size: 20px;
}

/*Footer brand section*/
.footer__brandContainer {
    background-color: $darkGrey;
}

.footer__brandContainer {
    a  {
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition:  all 0.3s ease-in-out;
        -o-transition:  all 0.3s ease-in-out;
    }

    a:hover {
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition:  all 0.3s ease-in-out;
        -o-transition:  all 0.3s ease-in-out;
    }
}

.brandContainer__squareIcon {
    width: 24px;
    height: 24px;
    margin: -2px 0 0 10px;
    text-align: center;
    border: 2px solid #434343;
    display: inline-block;
    color: $footerSocial;
}

.brandContainer__squareIcon:hover {
    border: 2px solid white;
    color: white;
}

.footer__brandLogo {
    width: 115px !important;
}

.footer__backToTopContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer__backToTop {
    font-size: $p;
    color: $lightGrey;
}

a.footer__backToTop:hover {
    text-decoration: none;
    color: white;
}

/*--Footer Newsletter--*/
.footer__newsletter {
    .form-control {
        font-size: 11px;
        color: #666;
        border: 2px solid $footerSocial;
        border-radius: 0px;
        background-color: transparent;
        height: calc(2.7em + 0.75rem + 2px);
    }

    input:focus {
        color: white;
        border-color: white;
        background-color: transparent;
        box-shadow: none !important;
    }

    .es_subscription_form {
        display: flex;
    }

    label {
        width: 100%;
    }

    .es-field-wrap {
        padding: 0px 10px 0px 0px;
        width: 100%;
    }

    .emaillist {
        width: 100%;
    }
    .es_subscription_form_submit {
        height: 100%;
    }
}

/*--Footer Payments--*/
.footer__payments{
    .cards {
       margin-bottom: 15px;
    }
}