/*--Styles for blog--*/

/*SIDEBAR SEARCH - ENTRADAS RECIENTES - CATEGORIAS - TAGS*/

#categories-2 ul , #recent-posts-2 ul {
  padding: 0;
}
  
#categories-2  ul li:before , #recent-posts-2 ul li:before {
  content: " ";
  border: solid 1px #999;
  width: 10px;
  height: 10px;
  display: inline-block;
  transform: translateY(-1px);
  margin-right: 5px;
  border-radius: 10px;
  background:#FFF;
}

#categories-2  ul li a , #recent-posts-2 ul li a {
  transition: ease 0.4s;
  font-size: 16px;
  text-decoration: none;
  display:inline-block;
  color: #333333;
}

#categories-2  ul li:hover:before , #recent-posts-2 ul li:hover:before {
  background: #999;
}

#categories-2  ul li:hover a , #recent-posts-2 ul li:hover a {
  transform: translateX(5px);
}

.widget_tag_cloud .tagcloud a {
  color: #FFFFFF;
  font-size: 14px !important;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 3px;
}

.widget_tag_cloud .tagcloud a:hover {
  background: #0c4b8e;
}

.widget_search {
  form div .field {
    text-transform: uppercase;
    height: 55px;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
  } 
  form div input::placeholder {
    color: #d6d8dc;
  }

  form div input.submit {
    background: #242424;
  }

}

.widget-title {
  font-family: 'Roboto', sans-serif;
  color: $midGrey;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 18px;

  li {
    margin: 10px 5px;
  }
}

#recent-posts-2, .cat-item {
  a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: $midGrey;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }
}

#recent-posts-2 li, .cat-item {
  list-style: none;
  margin: 0;
  padding: 10px 5px 10px 0px;
  border-bottom: solid 1px #999;
}

.tagcloud {
  margin: 20px 0px;
}

.tag-cloud-link {
  padding: 10px;
  background-color: #1461B2;
  color: white;
  font-size: 0.8rem !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  border-radius: 50px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: white;
  }
}

.card-tags a {
  display: inline-block;
  color: #333;
  border: 1px solid #c3c3c3;
  font-size: 14px;
  line-height: 1;
  padding: 8px 12px;
  margin: 0 2px 5px 0;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}



.widget ul {
  padding-inline-start: 20px;
}

/* CAROUSEL - SLIDER */

.slider-blog .carousel-item .carousel-caption p {
  display: none;
}

.carousel-caption {
  h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  a:hover {
    text-decoration: none !important;
  }
}

.slider-blog .carousel-caption {
    top: 420px !important;
}

.carousel-item img {
  background-color: rgba(0,0,0,0.8);
  max-width: 100%;
  filter:brightness(0.5);
}

.view-post {
  width: 120px;
}

/* PAGE HOME BLOG  */

.card-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: $midGrey;
  text-transform: uppercase;
}

.blog-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #2C2C2C;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

.stretched-link {
  color: #1461B2;
}

body.blog .card {
  border-radius: 5px 5px 0px 0px;
  img {
    border-radius: 5px 5px 0px 0px;
  }
}

/* PAGE RESULTS SEARCH - CATEGORIES - TAGS */

.title-results {
  font-size: 30px;
  margin-top: 20px;
  font-weight: 500;
}
.page-header .page-title {
  font-weight: 600;
  font-size: 18px;
}

.entry-summary div .card-body p a {
  margin-top: 30px;
  display: inline-table;
}

.content-result .footer-results {
  text-align: right;
  margin-top:-30px;
}

.blog, .tag {
  .entry-header {
    display: block !important;
  }

  .entry-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: $midGrey;
  }

  .entry-image img {
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.tag {
  .entry-title a {
    text-decoration: none;
    color: $midGrey;
  }

  .understrap-read-more-link {
    color: #1461B2;
  }

  .tags-links, .comments-link {
    display: none;
  }
}


.posted-on a, .author a {
  color: #1461B2;
}

// salto de linea entre "posted in y tagged"
.cat-links {
  display: block;

  a {
    color: #1461B2;
  }
}

.page-title span {
  display: block;
  font-size: 2.5rem;
  line-height: 43px;
}

#main .entry-header {
  display: block;
}

.content-result {
  .entry-header, .entry-footer {
    display: none !important;
  }

  .understrap-read-more-link {
    color: #1461B2;
  }

  .tags-links a {
    color: #1461B2;
  }

  .entry-content {
    p {
      display: none;
    }
  }

  .entry-summary {
    h3 {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      color: $midGrey;
    }
  }

  .comments-link {
    display: none;
  }

  .title-search {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.card img {
  height: 180px;
  object-fit: cover;
}

.content-result .type-post {
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
  }
}

.content-search .type-post {
  img {
    height: 170px;
    object-fit: cover;
    width: 100%;
    border-radius: 5px 0px 0px 5px;
  }
}

.content-search {
  .entry-header, .entry-footer {
    display: none !important;
  }

  .understrap-read-more-link {
    color: #1461B2;
  }

  .tags-links a {
    color: #1461B2;
  }

  .entry-content {
    p {
      display: none;
    }
  }

  .entry-summary {
    h3 {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      color: $midGrey;
    }
  }

  .comments-link, .edit-link {
    display: none;
  }

  .footer-results {
    display: flex;
    margin-top: 55px;
    justify-content: space-between;
  }
}

.content-search p.excerpt {
  display: none;
}

/* PAGINATION */

//stylos a navegacion entre paginas
.post-navigation {
  margin: 20px 0px;

  a {
    font-size: 1rem;
    color: #1461B2;
  }
}

ul.pagination li.page-item a.page-link {
  color: #0c4b8e;
}
  
ul.pagination li.page-item a.page-link.current {
  background: #0c4b8e;
  border-color: #0c4b8e;
  color: #FFFFFF;
}


/* POST CONTENT */

#respond form {
  .comment-form-comment textarea {
    border-color: #d2d2d2;
  }
  p {
    margin-top: 1rem;
  }
}

.post .entry-content {
  margin: 15px;
}

.post .entry-header .entry-meta {
  display: none;
}

.single-post .post div p {
  margin: 1em;
}

