/*-------Nav styles-------*/
/*
* Here are the styles of the header and the pre-header *
*
*/

/*Header links*/
.nav-link {
  font-family: $roboto;
  font-weight: 900;
  font-size: $h4;
  text-transform: uppercase;
}

#main-menu {
  .nav-link {
    border-top: 3px solid transparent !important;
    border: 1px solid transparent;
  }

  .nav-link:hover {
    border-top: 3px solid $darkGrey !important;
    border: 1px solid #e9e9e9;
    background: linear-gradient(
      178.96deg,
      rgba(204, 204, 204, 0.65) 0.89%,
      rgba(255, 255, 255, 0.51) 70.11%
    );
  }

  li a {
    color: #999;
  }

  li a:hover {
    background-color: #ffffff;
    color: $darkGrey;
  }

  .dropdown li a:before {
    /* content: '°'; */
    content: "\00B0";
    position: relative;
    left: 0;
    top: 3px;
    font-size: 14px;
    color: #ccc;
    margin-right: 5px;
    background: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  //--ocultar flecha de dropdown--
  .dropdown-toggle::after {
    display: none;
  }
}

/* ============ mostrar menu al hacer hover ============ */
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: $darkGrey !important;
}

.nav__container {
  position: absolute;
  top: 40px;
  z-index: 9;
  width: 100%;
  background-color: #ffffff !important;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

/*Pre-Header*/

.pre-header {
  position: absolute;
  top: 0px;
  z-index: 8;
  padding: 10px 0px;
  background-color: rgba(211, 211, 211, 0.65);
  width: 100%;
}

.nav__topInfo {
  font-size: 11px;
  text-transform: uppercase;
}

.nav__topInfo__contact strong {
  font-size: 14px;
  text-transform: uppercase;
}

.nav__shoppingBag,
.nav__search {
  height: 60px;
  display: flex;
  align-items: center;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.nav__shoppingBag:hover,
.nav__search:hover {
  border-top: 3px solid $darkGrey;
  border-bottom: 3px solid $darkGrey;
}

.nav-user-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  span > a {
    color: #333333;
  }
  span > a:hover {
    text-decoration: none;
  }
}

/*Header Cart Counter */
.nav__shoppingBagCounter {
  color: white;
  font-weight: 600;
  padding: 2px 7px;
  background-color: $red;
}
.nav__shoppingBagLink, .nav__shoppingBagLink:hover  {
  text-decoration: none;
  color: black;
}
.nav__divider {
  padding: 0px 15px;
  border-right: 1px solid #e9e9e9;
  border-left: 1px solid #e9e9e9;
  border-top: 0px;
  border-bottom: 0px;
}

/*Sticky*/
.sticky {
  position: fixed;
  top: 0;
}

@media (max-width: 370px) {
  .navbar-brand {
    img {
      width: 100px;
    }
  }
}
